.alert {
    border-radius: 4px;
    padding: 12px 16px;
    font-size: 16px;
    position: relative;
    display: flex;
    align-items: center;
    border-left-color: var(--hope-colors-success9);
    border-left-style: solid;
    border-left-width: var(--hope-sizes-1);
    padding-inline-start: var(--hope-space-4);
    padding-inline-end: var(--hope-space-4);
    padding-top: var(--hope-space-3);
    padding-bottom: var(--hope-space-3);
    gap: 10px;
}

.title {
    font-weight: var(--hope-fontWeights-semibold);
    font-size: var(--hope-fontSizes-base);
    line-height: var(--hope-lineHeights-6);
}

.icon {
    width: 25px;
    height: 25px;
}
.icon svg{
    width: 100%;
    height: 100%;
}
