
.alert_container {
    @apply flex flex-col gap-2 z-50;
}

.alert_container.float {
    @apply absolute top-0 mt-5 w-full;
}

.alert {
    border-radius: 6px;
    padding: 12px 16px;
    background-color: hsl(204 100% 97%);
    color: hsl(201 96% 32%);
    font-size: 16px;
}
