.side_nav {
    height: 100%;
    padding: 30px 0;
    display: flex;
    flex-direction: column;
    transition: width 100ms ease;
    width: 250px;
}

.hidden {
    display: none;
}

.logout_container {
    margin-top: auto;
}

@media screen and (min-width: 768px) {
    .side_nav {
        height: calc(100vh - 100px);
        display: flex;
    }

    .expanded {
        position: relative;
    }

    .not_expanded {
        width: 100px;
    }
}
