.side_nav {
    height: 100%;
    padding: 30px 0;
    display: flex;
    flex-direction: column;
    transition: width 100ms ease;
    width: 250px;
}

.hidden {
    display: none;
}

.logout_container {
    margin-top: auto;
}

.menu{
    margin: 0 0 16px 16px;
    color: var(--hope-colors-neutral-50);
    background-color: var(--hope-colors-neutral-900);
}
.menu > button {
    color: var(--hope-colors-neutral-50);
    background-color: var(--hope-colors-neutral-900);
}

.drawer_content {
    @apply px-4 pt-32 pb-8 flex flex-col justify-between
}
.close_button {
    position: absolute;
    top: var(--hope-space-4);
    inset-inline-end: var(--hope-space-4);
}

@media screen and (min-width: 1024px) {
    .side_nav {
        height: calc(100vh - 100px);
        display: flex;
    }

    .expanded {
        position: relative;
    }

    .not_expanded {
        width: 100px;
    }
}





