@tailwind components;
@tailwind utilities;

.container{
    margin-left: auto;
    margin-right: auto;
    display: flex;
    height: 100vh;
    align-items: center;
    justify-content: center;
}
.title{
    @apply xs:text-xl md:text-2xl mb-4 pt-10;
}
.all_description_container{
    @apply flex flex-wrap justify-start;
}
.subtitle{
    @apply flex w-full text-2xl pb-2 pt-5 justify-start;
}
.description{
    @apply w-full xs:text-base md:text-xl flex flex-nowrap;
}
.link_login{
    @apply w-full md:mt-15 mt-5 md:mr-5 flex flex-wrap justify-center gap-4 underline;
}
.alert_padding{
    @apply md:p-10; 
}

