.radio__group {
    @apply flex flex-col gap-[8px] min-h-[var(--hope-sizes-10)] items-center;
}
.radio__group__label {
    @apply text-[var(--hope-colors-neutral-100)] text-[14px] font-medium select-none;
}
.radio__group__description {
    @apply text-[var(--hope-colors-neutral-300)] text-[12px] select-none;
}
.radio__group__error__message {
    @apply text-[hsl(0_72%_51%)] text-[12px] select-none;
}
.radio__group__items {
    @apply pt-[5px] flex gap-[16px] min-h-[var(--hope-sizes-10)] items-center;
}
.radio {
    @apply flex items-center;
}
.radio__control {
    @apply flex items-center justify-center h-[20px] w-[20px] rounded-[10px]
    display: flex;
    align-items: center;
    justify-content: center;
    height: 20px;
    width: 20px;
    border-radius: 10px;
    border: 1px solid var(--hope-colors-neutral-300);
    background-color: var(--hope-colors-neutral-600);
    margin-right: 5px;
}
.radio__input:focus-visible + .radio__control {
    outline: 2px solid var(--hope-colors-primary-200);
    outline-offset: 2px;
}
.radio__control[data-checked] {
    border-color: var(--hope-colors-primary-200);
    background-color: var(--hope-colors-primary-200);
}
.radio__control[data-checked][data-invalid] {
    border-color: hsl(0 72% 51%);
    background-color: hsl(0 72% 51%);
}
.radio__indicator {
    height: 10px;
    width: 10px;
    border-radius: 5px;
    background-color: var(--hope-colors-neutral-900);
}
.radio__label {
    margin-left: 6px;
    color: var(--hope-colors-neutral-100);
    font-size: 14px;
    user-select: none;
}
