.radio__group {
    display: flex;
    flex-direction: column;
    gap: 8px;
    min-height: var(--hope-sizes-10);
    align-items: center;
}
.radio__group__label {
    color: var(--hope-colors-neutral-100);
    font-size: 14px;
    font-weight: 500;
    user-select: none;
}
.radio__group__description {
    color: var(--hope-colors-neutral-300);
    font-size: 12px;
    user-select: none;
}
.radio__group__error__message {
    color: hsl(0 72% 51%);
    font-size: 12px;
    user-select: none;
}
.radio__group__items {
    padding-top: 5px;
    display: flex;
    gap: 16px;
    min-height: var(--hope-sizes-10);
    align-items: center;
}
.radio {
    display: flex;
    align-items: center;
}
.radio__control {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 20px;
    width: 20px;
    border-radius: 10px;
    border: 1px solid var(--hope-colors-neutral-300);
    background-color: var(--hope-colors-neutral-600);
    margin-right: 5px;
}
.radio__input:focus-visible + .radio__control {
    outline: 2px solid var(--hope-colors-primary-200);
    outline-offset: 2px;
}
.radio__control[data-checked] {
    border-color: var(--hope-colors-primary-200);
    background-color: var(--hope-colors-primary-200);
}
.radio__control[data-checked][data-invalid] {
    border-color: hsl(0 72% 51%);
    background-color: hsl(0 72% 51%);
}
.radio__indicator {
    height: 10px;
    width: 10px;
    border-radius: 5px;
    background-color: var(--hope-colors-neutral-900);
}
.radio__label {
    margin-left: 6px;
    color: var(--hope-colors-neutral-100);
    font-size: 14px;
    user-select: none;
}
