@tailwind components;
@tailwind utilities;

.container {
    margin-left: auto;
    margin-right: auto;
    height: 100vh;
    align-items: center;
    justify-content: center;
    padding-top: 10px
}
.title_container{
    padding-bottom: 20px;
}
