.form_flex {
    display: flex;
    flex-wrap: wrap;
}

.field_wrapper {
    @apply w-full md:w-1/2 mb-5 pr-3;
}

.field_wrapper.full {
    @apply w-full;
}

.error_message_block {
    display: block;
}

.switch_position {
    @apply block ml-3 mt-1;
}

.update_save_buttons_container {
    @apply w-full mt-5 md:mr-5 flex flex-wrap md:justify-end gap-4
}

.button_full {
    @apply w-full md:w-auto;
}
