.form_flex {
    display: flex;
    flex-wrap: wrap;
}

.form_flex.column {
    flex-direction: column;
}

.field_wrapper {
    @apply w-full md:w-1/2 mb-5 pr-3;
}

.field_wrapper.full {
    @apply w-full;
}

.field_wrapper .small {
    width: 25%;
}

.field_wrapper .big {
    width: 75%;
}

.error_message_block {
    @apply block mt-1 text-sm
}

.switch_position {
    @apply block ml-3 mt-1;
}

.field_justify_between{
    @apply flex justify-between mt-1;
}

.update_save_buttons_container {
    @apply w-full mt-5 md:mr-5 flex flex-wrap md:justify-end gap-4
}

.update_save_buttons_container.spaced{
    justify-content: space-between;
}

.button_full {
    @apply w-full md:w-auto;
}
.form_password{
    @apply flex flex-wrap text-sm
}
.button_login{
    @apply flex items-center justify-center pt-10;
}

.form_label {
    @apply text-neutral-50 text-sm mr-1
}
