@import url("https://fonts.cdnfonts.com/css/gilroy-bold");
@tailwind components;
@tailwind utilities;

.has-permission {
  display: none;
}

#root {
  background-color: var(--hope-colors-neutral-900);
}

a {
  text-decoration: inherit;
  color: var(--hope-colors-neutral-50);
}
