.section_container {
    @apply px-8;
}

.section.mid {
    @apply w-full md:w-1/2;
}

.list_container {
    @apply mx-8;
}

.section_header_container {
    @apply flex justify-between my-6 md:flex-row md:items-center md:gap-0 md:mb-6 items-start flex-col gap-[10px] mb-[10px];
}

.grid_cards_container {
    @apply grid grid-cols-1 lg:grid-cols-2 xl:grid-cols-3 gap-3 mt-5;
}

.section_bottom_buttons_container {
    @apply mx-auto h-full flex justify-center items-center mt-8 gap-2;
}
