
.section_title_opaque {
    color: var(--hope-colors-neutral10);
    @apply mb-2 text-left text-xs uppercase font-extrabold w-full;
}

.section_title_opaque.border_bottom {
    border-bottom: 2px solid var(--hope-colors-neutral4);
}

.section_title {
    margin: 1.5rem 0;
    font-size: 1.85rem;
    font-weight: bold;
}

.group_field_full_title {
    font-size: 1.25rem;
    line-height: 1.75rem;
}

.group_field_full_info {
    font-size: 0.875rem;
    line-height: 1.25rem;
}
