.select__trigger {
    @apply inline-flex items-center justify-between w-full rounded-[4px] py-[8px] pr-[10px] pl-[10px] text-[16px] leading-[1] min-h-[40px] outline-none bg-transparent border-[1px] border-solid border-[var(--hope-colors-neutral-400)] text-[hsl(240_4%_16%)] cursor-pointer;
    transition: border-color 250ms, color 250ms;
}
.select__trigger:hover {
    @apply border-[var(--hope-colors-neutral-300)];
}
.select__trigger:focus-visible {
    @apply outline outline-[2px] outline-[var(--hope-colors-primary-200)] outline-offset-2;
}
.select__trigger[data-invalid] {
    @apply border-[var(--hope-colors-danger-600)];
}
.select__value {
    @apply text-[16px] flex items-center text-ellipsis whitespace-nowrap overflow-hidden text-[var(--hope-colors-neutral-50)] flex-wrap gap-[6px];
}
.select__value[data-placeholder-shown], .select__value__multiple[data-placeholder-shown] {
    @apply text-[var(--hope-colors-neutral-300)];
}

.select__value__multiple {
    @apply h-[24px] text-[14px] flex items-center text-ellipsis whitespace-nowrap overflow-hidden text-[var(--hope-colors-neutral-50)] bg-[var(--hope-colors-neutral-600)] rounded-[4px] py-0 pr-0 pl-[8px];
}

.select__value__multiple button{
    @apply p-0 bg-transparent border-none w-[24px] h-full rounded-[4px] flex justify-center items-center cursor-pointer;
}

.select__value__multiple button:hover{
    @apply bg-[var(--hope-colors-neutral-400)];
}

.select__icon {
    @apply flex items-center h-full w-[20px] flex-[0_0_20px] text-[var(--hope-colors-neutral-50)];
}
.select__description {
    @apply mt-[8px] text-[var(--hope-colors-neutral-400)] text-[12px] select-none;
}
.select__error__message {
    @apply mt-[8px] text-[var(--hope-colors-danger-600)] text-[12px] select-none;
}
.select__content {
    @apply bg-[var(--hope-colors-neutral-900)] rounded-[4px] border-[1px] border-solid border-[var(--hope-colors-neutral-500)] shadow-[0_4px_6px_-1px_rgb(0_0_0_/_0.1),0_2px_4px_-2px_rgb(0_0_0_/_0.1)] origin-[var(--kb-select-content-transform-origin)] z-[100];
    animation: contentHide 200ms ease-in forwards;
}
.select__content[data-expanded] {
    animation: contentShow 200ms ease-out;
}
.select__listbox {
    @apply overflow-y-auto max-h-[360px] p-[6px];
}
.select__item {
    @apply text-[14px] leading-[1] text-[var(--hope-colors-neutral-50)] rounded-[4px] flex items-center justify-between h-[32px] py-0 px-[8px] relative select-none outline-none cursor-pointer;
}
.select__item[data-disabled] {
    @apply text-[var(--hope-colors-neutral-50)] opacity-50 pointer-events-none;
}
.select__item[data-highlighted] {
    @apply outline-none bg-[var(--hope-colors-primary-300)] text-[var(--hope-colors-neutral-50)];
}
.select__section {
    @apply pt-[8px] pr-0 pb-0 pl-[8px] text-[12px] leading-[32px] text-[var(--hope-colors-neutral-300)];
}
.select__item__indicator {
    @apply h-[20px] w-[20px] inline-flex items-center content-center;
}
.full_w {
    @apply w-full
}
@keyframes contentShow {
    from {
        @apply opacity-0 translate-y-[-8px];
    }
    to {
        @apply text-opacity-100 translate-y-0;
    }
}
@keyframes contentHide {
    from {
        @apply opacity-100 translate-y-0;
    }
    to {
        @apply opacity-0 translate-y-[-8px];
    }
}
