@import url("https://fonts.cdnfonts.com/css/gilroy-bold");
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  .gilroy {
    font-family: "Gilroy-Regular", sans-serif;
  }

  *:focus {
    outline:none!important;
  }

    .react-datepicker-wrapper {
    width: 100%;
  }

  .hover-trigger .hover-target {
      display: none;
  }

  .hover-trigger:hover .hover-target {
      display: block;
  }
  .w-min {
    width: min-content;
  }
  .w-max {
    width: max-content;
  }

  .dg-media-object {
    @apply flex items-center font-semibold text-sm text-main-gray-250 rounded-lg py-2 px-4 dg-subelement-bg hover:bg-main-gray-500;
  }
  .dg-grid-3x3 {
    @apply grid grid-cols-1 lg:grid-cols-2 xl:grid-cols-3 gap-3;
  }
  .dg-icon-pill {
    @apply md:max-w-md w-full md:w-1/2 p-2 dg-subelement-bg h-18 rounded-lg mx-1 my-1 flex items-center font-semibold text-sm text-main-gray-250;
  }
  .dg-main-bg {
    @apply bg-gray-900 text-gray-500 gilroy;
  }
  .dg-element-bg {
    @apply bg-gray-800 gilroy;
  }
  .dg-subelement-bg {
    @apply bg-gray-650;
  }
  .dg-border-main {
    @apply border-gray-700 rounded-full;
  }
  .dg-rounded {
    @apply dg-element-bg rounded-lg-md shadow-md;
  }
  .dg-rounded-small-box {
    @apply dg-element-bg w-1/2 md:w-1/3 min-w-xxs max-w-lg rounded-lg p-8 shadow-lg;
  }
  .dg-section-title {
    @apply text-3xl font-bold;
  }
  .dg-full-center-flex {
    @apply mx-auto h-full flex justify-center items-center;
  }
  .dg-main-button {
    @apply w-full md:w-32 h-10 flex justify-center items-center bg-primary-main hover:bg-primary-hover rounded-xl text-white font-bold text-sm;
  }
  .dg-secondary-button {
    @apply w-full md:w-32 h-10 flex justify-center items-center bg-main-gray-500 hover:bg-main-gray-400 rounded-xl text-white font-bold text-sm;
  }
  .dg-main-button-w-icon {
    @apply flex bg-primary-main hover:bg-primary-hover rounded-full mx-auto border-0 p-2 md:pt-4 md:px-8 text-lg text-white;
  }
  .dg-form-full-field-wrapper {
    @apply w-full md:w-1/2 mb-5 pr-3;
  }
  .dg-form-quarter-field-wrapper {
    @apply w-full md:w-1/4 mb-5 pr-3;
  }
  .dg-form-label {
    @apply text-gray-400 block mb-1;
  }
  .dg-form-field-full {
    @apply w-full dg-subelement-bg text-white dg-border-main focus:outline-none focus:border-indigo-500 text-base hover:border-indigo-400 py-3 h-10 font-bold;
  }
  .dg-form-field-quarter {
    @apply w-3/4 dg-subelement-bg text-white dg-border-main focus:outline-none focus:border-indigo-500 text-base hover:border-indigo-400 h-10 font-bold;
  }
  .dg-link {
    @apply text-main-gray-300 hover:text-white;
  }
}
/* alert notification*/
.containerNotification {
  position: fixed;
  max-height: 100%;
  overflow-y: scroll;
  scroll-behavior: smooth;
  -webkit-overflow-scrolling: touch;
  scrollbar-width: none;
  -ms-overflow-style: none;
  /* max-width: 14rem; */
}

.containerNotification::-webkit-scrollbar {
  display: none;
}

.row {
  position: relative;
  max-height: 8rem;
  margin: .5rem auto;
  padding: 2vh;
  border-radius: 10px;
  text-shadow: #3c3c3c 0 1px 1px;
  color: #f2f2f2;
  width: 60vw;
  overflow-wrap: break-word;
  background: #3c3c3c;
}

.intro {
  animation: fadein 2s;
  transition: all 1s;
}

.outro {
  animation: fadeout 1s;
}

@keyframes fadein {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes fadeout {
  0% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}

.notif-progress-bar {
  position: absolute;
  /* top: 2vw; */
  background: yellow;
  border-radius: 10px;
  box-shadow: black 0 2px 6px;
  margin-top: 15px;
  height: 2px;
  transition: width .2s;
}

.clearbtn {
  background: #3c3c3c;
  border-radius: 10px;

}

.success {
  background: linear-gradient(128deg, rgb(86, 147, 114) 0%, rgb(86, 147, 114) 100%);
}

.error {
  background: rgb(227, 75, 75); color: rgb(255, 255, 255);
}

.alert {
  background: linear-gradient(128deg, rgb(227, 75, 75) 0%, rgb(227, 75, 75) 100%);
}

.info {
  background: linear-gradient(128deg, #40afff 0%, #3f57ffff 100%);
}

.custom {
  background: linear-gradient(128deg, #404cff 0%, #ae3fff 100%);
}


.trigger {
  margin: 20vh;
}

.trigger button {
  background: #3c3c3c;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 0 10px;
  height: 40px;
  width: 180px;
  font-size: 18px;
  font-weight: bold;
  color: #fff;
  border-radius: 10px;
  display: block;
  margin: 0 auto 20px;
  transition: background 35s;
}

.trigger button:hover {
  background: rgb(0, 120, 255);
  border: rgba(0, 253, 198, 0.6) solid;
}

.trigger button:last-of-type {
  margin-bottom: 0
}

.search-wrapper {
  border: 1px solid transparent !important;
  @apply w-full dg-subelement-bg text-white dg-border-main  focus:border-indigo-500 text-base py-3 font-bold;
}

.search-wrapper:hover {
  @apply border-indigo-400 !important;
}

input.searchBox:focus {
   box-shadow: none !important;
   -moz-box-shadow: none !important;
   -webkit-box-shadow: none !important;
   outline: none !important;
}

/* Alert */
.containerAlert{
  position: fixed;
  max-height: 100%;
  overflow-y: scroll;
  scroll-behavior: smooth;
  -webkit-overflow-scrolling: touch;
  scrollbar-width: none;
  -ms-overflow-style: none;
  /* max-width: 14rem; */
}
.containerAlert::-webkit-scrollbar {
  display: none;
}

.has-permission {
  display: none;
}
