@import url("https://fonts.cdnfonts.com/css/gilroy-bold");
/* @tailwind base; */
@tailwind components;
@tailwind utilities;

/* alert notification*/
.containerNotification {
  position: fixed;
  max-height: 100%;
  overflow-y: scroll;
  scroll-behavior: smooth;
  -webkit-overflow-scrolling: touch;
  scrollbar-width: none;
  -ms-overflow-style: none;
  /* max-width: 14rem; */
}

.containerNotification::-webkit-scrollbar {
  display: none;
}

.row {
  position: relative;
  max-height: 9rem;
  margin: .5rem auto;
  padding: 2vh;
  border-radius: 10px;
  text-shadow: #3c3c3c 0 1px 1px;
  color: #f2f2f2;
  overflow-wrap: break-word;
  background: #3c3c3c;
}


/* Alert */

.has-permission {
  display: none;
}
