.toast {
    @apply relative flex flex-col items-center content-between gap-[8px] border-solid border-[1px] border-[var(--hope-colors-neutral-500)] rounded-[6px] p-[12px] bg-[var(--hope-colors-neutral-900)] shadow-[0_10px_15px_-3px_rgb(0_0_0_/_0.1),0_4px_6px_-4px_rgb(0_0_0_/_0.1)];
}
.toast[data-opened] {
    animation: slideIn 150ms cubic-bezier(0.16, 1, 0.3, 1);
}
.toast[data-closed] {
    animation: hide 100ms ease-in;
}
.toast[data-swipe="move"] {
    @apply translate-x-[var(--kb-toast-swipe-move-x)];
}
.toast[data-swipe="cancel"] {
    @apply translate-x-0 transition-transform !duration-[200ms] ease-out;
}
.toast[data-swipe="end"] {
    animation: swipeOut 100ms ease-out;
}
.toast__content {
    @apply flex items-center w-full gap-[10px];
}
.toast__close__button {
    @apply absolute right-[8px] top-[8px] shrink-0 h-auto w-auto ml-auto bg-transparent border-none cursor-pointer rounded-[4px] p-[4px];
}
.toast__close__button:hover {
    @apply bg-[var(--hope-colors-neutral-700)];
}
.toast__title {
    @apply text-[14px] font-medium text-[var(--hope-colors-neutral-50)];
}
.toast__description {
    @apply text-[14px] text-[var(--hope-colors-neutral-100)];
}
.toast__progress__track {
    @apply h-[3px] w-full bg-[var(--hope-colors-neutral-500)] rounded-[3px];
}
.toast__progress__fill {
    @apply bg-[var(--hope-colors-primary-300)] rounded-[3px] h-full w-[var(--kb-toast-progress-fill-width)] transition-[width] duration-[250ms] ease-linear;
}
@keyframes hide {
    from {
        @apply opacity-100;
    }
    to {
        @apply opacity-0;
    }
}
@keyframes slideIn {
    from {
        @apply translate-x-[calc(100%_+_var(--viewport-padding))];
    }
    to {
        @apply translate-x-0;
    }
}
@keyframes swipeOut {
    from {
        @apply translate-x-[var(--kb-toast-swipe-end-x)];
    }
    to {
        @apply translate-x-[calc(100%_+_var(--viewport-padding))];
    }
}
