.toast {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    gap: 8px;
    border: 1px solid var(--hope-colors-neutral-500);
    border-radius: 6px;
    padding: 12px;
    background-color: var(--hope-colors-neutral-900);
    box-shadow: 0 10px 15px -3px rgb(0 0 0 / 0.1), 0 4px 6px -4px rgb(0 0 0 / 0.1);
}
.toast[data-opened] {
    animation: slideIn 150ms cubic-bezier(0.16, 1, 0.3, 1);
}
.toast[data-closed] {
    animation: hide 100ms ease-in;
}
.toast[data-swipe="move"] {
    transform: translateX(var(--kb-toast-swipe-move-x));
}
.toast[data-swipe="cancel"] {
    transform: translateX(0);
    transition: transform 200ms ease-out;
}
.toast[data-swipe="end"] {
    animation: swipeOut 100ms ease-out;
}
.toast__content {
    display: flex;
    align-items: center;
    width: 100%;
    gap: 10px;
}
.toast__close__button {
    position: absolute;
    right: 8px;
    top: 8px;
    flex-shrink: 0;
    height: auto;
    width: auto;
    margin-left: auto;
    background-color: transparent;
    border: none;
    cursor: pointer;
    border-radius: 4px;
    padding: 4px;
}
.toast__close__button:hover {
    background-color: var(--hope-colors-neutral-700);
}
.toast__title {
    font-size: 14px;
    font-weight: 500;
    color: var(--hope-colors-neutral-50);
}
.toast__description {
    font-size: 14px;
    color: var(--hope-colors-neutral-100);
}
.toast__progress__track {
    height: 3px;
    width: 100%;
    background-color: var(--hope-colors-neutral-500);
    border-radius: 3px;
}
.toast__progress__fill {
    background-color: var(--hope-colors-primary-300);
    border-radius: 3px;
    height: 100%;
    width: var(--kb-toast-progress-fill-width);
    transition: width 250ms linear;
}
@keyframes hide {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
    }
}
@keyframes slideIn {
    from {
        transform: translateX(calc(100% + var(--viewport-padding)));
    }
    to {
        transform: translateX(0);
    }
}
@keyframes swipeOut {
    from {
        transform: translateX(var(--kb-toast-swipe-end-x));
    }
    to {
        transform: translateX(calc(100% + var(--viewport-padding)));
    }
}
