
.login {
    display: flex;
    min-height: 100vh;
    justify-content: center;
    align-items: center;
}

.form_container {
    padding: 30px 20px;
}

.logo_container {
    display: flex;
    justify-content: center;
    filter: drop-shadow(0 2px 5px rgba(255, 255, 255, 0.7));
    margin: 0 auto 50px;
}

.logo {
    max-height: 35px;
}

.register {
    display: flex;
    justify-content: space-between;
    margin: 20px;
    gap: 10px;
}
