
.container {
    @apply hidden md:flex flex-col md:justify-center w-full md:w-auto px-8 mb-4;
}

.not_expanded {
    margin-bottom: 30px;
}

.button_container {
    @apply hidden md:flex w-full flex-row-reverse;
}

.icon {
    border-radius: 50%;
    transition-property: all;
    transition-duration: 700ms;
}

.icon_not_expanded {
    transform: rotate(180deg);
}
