// common class
.cur-pointer {
  cursor: pointer;
}

.active {
  background: linear-gradient(91.51deg, #315A98 1.52%, #487CBF 100.83%) !important;
  font-weight: 600;
  font-size: 1rem;
  color: #FFFFFF;
  pointer-events: none;
  border-radius: 0.5rem;

}

.active-bg {
  background: linear-gradient(91.51deg, #315A98 1.52%, #487CBF 100.83%) !important;
  font-weight: 600;
  color: #FFFFFF;
}

.box-shadow-card {
  box-shadow: rgb(100 100 111 / 20%) 0rem 0.125rem 0.4375rem 0.0625rem;
}

.pointer-none {
  pointer-events: none;
  font-size: 11px !important;
}

.v-none {
  visibility: hidden;
}

.d-none {
  display: none !important;
}

.cust-dis {
  opacity: 0.5;
}

.bg-hover-clr {
  background: #DEF1FF;
}

.btn-class {
  border: 1px solid #335D9B;
  background: white;
  font-weight: 600;
  font-size: 1rem;
  height: 2.5rem;
  text-align: center;
  margin: 0.5rem 0;
  border-radius: 0.5rem;
  letter-spacing: 0.1rem;
}

.btn-width {
  width: 7rem;
}

.jst-center {
  justify-content: space-evenly !important;
}

.icon-height {
  height: 2.3rem;
}

.cal-initial-view img:nth-child(1){
    display: none !important;
}

.calendar {
  display: flex;
  flex-direction: column;
  color: #232323;
  margin-top:0 ;
  width: 100% ;
  min-width: 0 ;
}

.cal-initial-view {
  padding: 0.5rem 1.5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 2.3rem;
  border: 1px solid #3a3f42;
  border-radius: 3px;
  padding-left: 12px;
  margin-bottom: 0;
  font-weight: 400;
  background-color: transparent;
  min-height: 2.5rem;
  font-size: 1rem;
  line-height: 1.5rem;
  color:white
}

.arrow-icon {
  height: 1rem;
  rotate: -180deg;
  filter:invert(100%);

}

.rotate-arrow-icon {
  rotate: -90deg;
}

.cal-parent {
  /* align-items: center; */
  display: inline-block;
  min-height: 25rem;
  background: #ffff;
  border-radius: 0.625rem;
  padding: 1.5rem;
  position: absolute;
  z-index: 1;
  margin-top: 40px;
}



.cal-header {
  display: flex;
  justify-content: space-between;

  .left-arrow {
    img {
      height: 1rem;
    }
  }

  .date-val {
    font-size: 1rem;
    font-weight: 700;
    line-height: 20px;
    letter-spacing: 0px;
    text-align: center;
  }

  .right-arrow {
    img {
      height: 1rem;
      rotate: -180deg;
    }
  }
}

.cal-sub-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 1.25rem 0;

  .today-col {

    .today-col-input {
      border: none;
      border-bottom: 1px solid #232323;
      height: 2.5rem;
      text-align: center;
      letter-spacing: 0.1rem;
      font-size: 0.9375rem;
    }

    .today-col-input:focus-visible {
      outline: none;
    }

    .today-col-input::placeholder {
      opacity: 0.3;
      font-weight: 500;
      letter-spacing: normal
    }
  }

  .jump-today {
    width: 6rem;
  }
}


.cal-sub-header-section {
  display: flex;
  justify-content: space-between;
  align-items: center;
  letter-spacing: 0.1rem;
  margin: 1.25rem 0;
}

.main-container {
  display: flex;
  justify-content: space-evenly;
  flex-direction: column;
  align-items: center;
  letter-spacing: 0.1rem;

  // Months
  .container-month-view {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;

  }

  .container-list {
    padding: 0.75rem;
    margin: 0.75rem;
    border-radius: 0.5rem;
    font-size: 1rem;
  }


  .container-list:hover {
    background-color: #EFEFEF;
  }

  // Year
  .container-year-view {
    display: flex;
    align-items: center;

    .year-navi__icon {
      height: 1rem;
    }

    .year-navi__icon_right {
      rotate: -180deg;
    }

    .container-year-list {
      display: flex;
      justify-content: space-evenly;
      flex-wrap: wrap;
    }
  }

  .container-day-view {
    display: block;


    .week-list {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-evenly;


      .week-list-items {
        padding: 0.7rem;
        text-transform: uppercase;
        font-size: small;
        border-radius: 0.5rem;
      }

      .week-list-items:hover {
        background-color: #EFEFEF;
      }
    }

    .list-header {
      font-weight: 600;
      border: none;
      margin-bottom: 1.25rem;
    }

    .week-list__date {
      gap: .6875rem
    }
  }

  .time-picker {
    display: flex;
    justify-content: center;
    align-items: center;

    .icon_size {
      height: 1rem;
      border-radius: 1.5rem;
    }

    .increment-icon {
      rotate: 90deg;
    }

    .decrement-icon {
      rotate: 270deg;
    }

    .time-hours-picker {
      display: flex;
      margin: 1.5rem;
      max-width: 3rem;
      flex-wrap: wrap;
      justify-content: center;

      .hour_value {
        margin-top: 1.5rem;
        margin-bottom: 1.5rem;
        font-size: 3.875rem;
        font-weight: 600;
        max-width: 5rem;
        border: none;
        border-bottom: 1px solid #232323;
      }

      .hour_value:focus-visible {
        outline: none;
      }

      input::-webkit-outer-spin-button,
      input::-webkit-inner-spin-button {
        -webkit-appearance: none;
        margin: 0;
      }
    }

    .time-seperator {
      font-size: 1.875rem;
      font-weight: 600;
    }

    .time-mins-picker {
      display: flex;
      margin: 1.5rem;
      max-width: 3rem;
      flex-wrap: wrap;
      justify-content: center;

      .min_value {
        margin-top: 1.5rem;
        margin-bottom: 1.5rem;
        font-size: 3.875rem;
        font-weight: 600;
        max-width: 5rem;
        border: none;
        border-bottom: 1px solid #232323;
      }

      .min_value:focus-visible {
        outline: none;
      }

      input::-webkit-outer-spin-button,
      input::-webkit-inner-spin-button {
        -webkit-appearance: none;
        margin: 0;
      }
    }

    .time-meridiem-container {
      display: flex;
      justify-content: space-evenly;
      flex-wrap: wrap;
      max-width: 2rem;
      align-items: center;
      margin-left: 1rem;

      .time-meridiem_selector {
        text-align: center;
        margin: 0.35rem;
        padding: 0.5rem;
        border-radius: 0.5rem;
        background: #EFEFEF;
      }
    }

  }
}

// .time-parent {
//   display: flex;
// }

.time-parent {
  width: 24rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  letter-spacing: normal;

  .update-time {
    border: 1px solid #335D9B;
    border-radius: 0.5rem;
    background: #fff;
    font-weight: 600;
    font-size: 1rem;
    padding: 0.875rem 1.25rem;
    text-align: center;
    border-radius: 0.5rem;
    width: 7rem;
  }

  .time-view {
    display: flex;
    align-items: center;
    border: none;
    text-align: center;
    border-radius: 0.5rem;

    .time-value {
      display: flex;
      align-items: center;
      letter-spacing: normal;
      font-weight: 600;
      margin-left: 1rem;
      font-size: 1rem;

      .time-value-input {
        padding: 0.4rem;
        text-align: center;
        // letter-spacing: 0.1rem;
        border-bottom: 0.025rem solid black !important;
        max-width: 1.25rem;
        border: none;
      }

      .time-value-input:focus-visible {
        outline: none;
      }

      .time-seperator {
        padding: 0.15rem;
      }

      input::-webkit-outer-spin-button,
      input::-webkit-inner-spin-button {
        -webkit-appearance: none;
        margin: 0;
      }

      .time-meridian {
        display: flex;
        margin-left: 0.5rem;

        .time-meridian-list {
          margin: 0.25rem;
          padding: 0.3rem;
          background: #EFEFEF;
          border-radius: 0.5rem;
        }
      }
    }
  }


}
